*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flare{
    position: absolute;
}

.back-flare{
    left: 0px;
    bottom: 0px;
}

.review{
    display: flex;
    align-items: center;
    width: 70%;
}

.review-text{
    height: 100%;
    width: 50%;
    margin-top: auto;
    position: relative;
    margin-top: -10px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}
.text-flare{
    top: -60px;
    left: 100px;
}

.text-words{
    font-weight: 300;
    color: hsl(240, 38%, 20%);
}

.text-author{
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
}

.text-job{
    color:hsl(240, 18%, 77%)
}

.review-picture{
    margin-left: auto;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.picture-flare{
    z-index: -1;
    height: 120%;
    width: 120%;
    object-position: center;
}

.picture-image{
    position: absolute;
    height: 110%;
    width: 110%;
    object-fit: cover;
    object-position: center;
   z-index: -1;
   border-radius: 20px;
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.151);
}

.slider{
    position: absolute;
    left: 0px;
    bottom: -40px;
    width: 100px;
    height: 40px;
    display: flex;
    padding: 13px;
    border-radius: 17px;
    justify-content: space-around;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
    background-color: hsl(240, 18%, 97%);

}

.hidden{
    display: none;
    opacity: 0;
}

.fadeInLeft{
    animation: inLeft 0.3s forwards ease-in-out;
}
.fadeInRight{
    animation: inRight 0.3s forwards ease-in-out;
}

.fadeOut{
    animation: out 0.2s forwards ease-in-out;
}
.fadeIn{
    animation: in 0.2s forwards ease-in-out;
}

@keyframes in{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes out{
    0%{
        transform: translateY(0px);
        opacity: 100%;
    }
    100%{
        transform: translateY(30px);
        opacity: 0%;
    }
}

@keyframes outLeft{
    0%{
        margin-left: 0%;
        opacity: 0;
    }
    100%{
        margin-left: -50%;
        opacity: 100%;
    }
}

@keyframes outRight{
    0%{
        margin-right: 0%;
        opacity: 100%;
    }
    100%{
        margin-right: -50%;
        opacity: 0%;
    }
}

@media (max-width:1000px){
    main{
        justify-content: center;
        align-items: flex-start;
    }
    .review{
        margin-top: 50px;
        flex-direction: column;
    }
    .review-text{
        order: 2;
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .text-flare{
        top: -50px;
        left: 20%;
    }
    .text-words{
       max-height: 350px;
        
    }
    .text-author{
        font-size: 16px;
    }

    .picture-image{
        width: 100%;
        height: 100%;
    }
    .review-picture{
        margin-bottom: 50px;
        order: 1;
        width: 400px;
        height: 400px;
    }

    .slider{
        bottom: -20px;
        left: 150px;
    }

}