*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flare{
    position: absolute;
}

.back-flare{
    left: 0px;
    bottom: 0px;
}

.review{
    display: flex;
    align-items: center;
    width: 80%;
    height: 50%;
}

.review-text{
    height: 80%;
    width: 50%;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}
.text-flare{
    width: 30%;
    top: -100px;
    left: 100px;
}

.text-words{
    font-weight: 300;
    color: hsl(240, 38%, 20%);
}

.text-person{
    margin-top: 20px;
    display: flex;
}
.text-author{
    font-weight: 700;
    font-size: 24px;
}

.text-job{
    color:hsl(240, 18%, 77%);
    font-size: 16px;
    font-weight: 500;
}

.review-picture{
    min-width: 220px;
    min-height: 220px;
    margin-left: auto;
    position: relative;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
}

.picture-flare{
    position: absolute;
    z-index: -2;
    left: -15%;
    top: -15%;
    width: 130%;
    height: 130%;
    object-position: center;
}

.picture-image{
    position: absolute;
    left: -5%;
    top: -5%;
    height: 110%;
    width: 110%;
    /* object-fit: cover;
    object-position: center; */
    z-index: -1;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.151);
}

.slider{
    position: absolute;
    width: 100px;
    height: 40px;
    display: flex;
    padding: 13px;
    bottom: -10%;
    z-index: 1;
    border-radius: 17px;
    justify-content: space-around;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.37);
    background-color: hsl(240, 18%, 97%);

}

.hidden{
    display: none;
    opacity: 0;
}

.fadeInLeft{
    animation: inLeft 0.3s forwards ease-in-out;
}
.fadeInRight{
    animation: inRight 0.3s forwards ease-in-out;
}

.fadeOut{
    animation: out 0.2s forwards ease-in-out;
}
.fadeIn{
    animation: in 0.2s forwards ease-in-out;
}

@keyframes in{
    0%{
        transform: translateY(-30px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

@keyframes out{
    0%{
        transform: translateY(0px);
        opacity: 100%;
    }
    100%{
        transform: translateY(30px);
        opacity: 0%;
    }
}

@keyframes outLeft{
    0%{
        margin-left: 0%;
        opacity: 0;
    }
    100%{
        margin-left: -50%;
        opacity: 100%;
    }
}

@keyframes outRight{
    0%{
        margin-right: 0%;
        opacity: 100%;
    }
    100%{
        margin-right: -50%;
        opacity: 0%;
    }
}

@media (max-width:1000px){
    main{
        justify-content: center;
        align-items: flex-start;
    }
    .review{
        margin-top: 50px;
        height: 100%;
        width: 80%;
        flex-direction: column;
    }
    .review-text{
        order: 2;
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .text-person{
        flex-direction: column;
    }
    .text-flare{
        top: 10px;
        left: 35%;
    }
    .text-words{
       max-height: 350px;
       font-size: 20px;
        
    }
    .text-author{
        font-size: 16px;
    }

    .review-picture{
        margin-left: 0px;
        margin-bottom: 5%;
        order: 1;
    }


}